
        
		body {
			background-image:url("/static/images/image_arriere_plan_page_connexion.png");
			background-size: cover;
			background-attachment: fixed;
  			background-position: center bottom;
			padding-bottom: 0px;
			background-repeat: no-repeat;
			margin: 0;
			border: none;
			font-family: Arial, sans-serif;
            height: 100%;

		}
		
		nav {
			backdrop-filter: blur(20px);
			height: 60px;
			display: flex;
			align-items: center;
			padding: 0 20px;
		}
		nav img {
			height: 80%;
			margin-right: 20px;
		}
        h1{
            align-items: center; 
            text-align: center; 
            color: white;
        }


		
        /*style du bloc de connexion ____________*/
        .ligne {
			display: flex;
			flex-wrap: wrap;
            margin-top: 4vh;
            align-items: center;

            
		}
		.bloc_connexion_inscription {
            
			backdrop-filter: blur(5px);
            border-radius: 20px;
            border: 2px solid #b7d8ff;
			color: white;
			width: 380px;
            height: auto;
			margin: 6% auto;
			padding: 20px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            
		}

        .curseur {
            width: 320px;
            margin: 20px auto;
            position: relative;
            box-shadow: 0 0 25px 5px cyan;
            border-radius: 30px;
            white-space: nowrap;
            
            
        }
       

        .btn_curseur {
            padding: 10px 40px;
            margin-right: 0px;
            margin-left: 0px;
            cursor: pointer;
            background: transparent;
            border: 0;
            outline: none;
            position: relative;
            width: 50%;
            color: #b7d8ff;
            
            font-size: medium;
            font-weight: bolder;
        }
        #curseur_cyan {
            top: 0;
            left: 0;
            position: absolute;
            width: 160px;
            height: 100%;
            background: linear-gradient(to right,#0081b8 , rgb(0, 205, 205) );
            border-radius: 30px;
            transition: 0.5s;
        }
        .formulaire_connexion-inscription {
        display: flex;
        margin-top: 20px; 
        transition: transform 0.5s;
        left: 200px;
        position: relative;
}

        .input {
            top: 100%;
            left: 100%;
            
            width: 320px;
            transition: 0.5s;
           
        }
        .champ_saisie {
            width: 100%;
            padding: 10px 0px;
            margin: 5px 0px;
            border-left: 0;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px solid   #b7d8ff;
            outline: none;
            background: transparent;
            color:white;
            font-size: medium;
            
        }
        .champ_saisie::placeholder {
            color:white; 
        }
        .btn_soumission {
            width: 75%;
            padding: 10px 30px;
            cursor: pointer;
            display: block;
            font-size: large;
            font-weight: bolder;
            margin: 20px auto;
            background: linear-gradient(to right, #009EE0, cyan);
            
            outline: none;
            border-radius: 30px;
        }
        .btn_soumission:active {
            /* styles au moment du clic */
            border: solid 1px white;
          }
        #connexion {
            
            margin-right: 90px;
        }
        
       
		
		
	/*pop-up inscription*/
.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    z-index: 9999;
    text-align: center;
    justify-content: center;
}

.popup_inscription {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
        max-width: 400px;
        text-align: center;
        animation-name: slideInImpo;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
      
}

@keyframes slideInImpo {
    0% {
      top: -100vh; /* Départ de la position en dehors de la fenêtre */
    }
    100% {
      top: 50%; /* Arrivée à la position souhaitée */
    }
    }

.fermer {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.fermer:hover,
.fermer:focus {
    color: black;
    text-decoration: none;
}

.message {
    margin: 10px 15px 10px 5px;
    font-size: large;
    font-weight: bold;
}

#popup_check_image {
    width: 60px;
    height: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#popup_check_image img {
    width: auto;
    height: 100%;
    object-fit: contain;
    

}
#popup_check_image_2 {
    width: 60px;
    height: 50px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

#popup_check_image_2 img {
    width: auto;
    height: 100%;
    object-fit: contain;
    

}
.erreur  {
    border-bottom: 3px solid   #ff0000;
  }
.popup-erreur {
    border: 3px solid red;
    color: red;
}