<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page de connexion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/css_page_connexion.css') }}">




</head>
<body>
	<nav>
		<img src="{{url_for('static', filename='images/logo-signature.png')}}" alt="Ligeron">
	</nav>
    <h1>Welcome To Tchai Transactions Platform</h1>

	<div class="ligne">


			<div class="bloc_connexion_inscription" id="bloc_connexion_inscription">
                <div class="curseur" >
                    <div id="curseur_cyan" ></div>
                    <button type="button" class="btn_curseur" onclick="vers_conn()">Connexion</button>
                    <button type="button" class="btn_curseur" onclick="vers_inscr()">inscription</button>
                </div>
                <div class="formulaire_connexion-inscription">
                    <form id="connexion" class="input" onsubmit="event.preventDefault(); connexion();">
                    <input type="text" class="champ_saisie" id="username" placeholder="Utilisateur" required >
                    <input type="password" class="champ_saisie" id="password" placeholder="***********" required >

                    <button form="connexion" class="btn_soumission" id="btn_conn" type="submit" >Connexion</button>
                    </form>
                    <form id="inscription" class="input" onsubmit="event.preventDefault(); inscription();">
                        <input type="text" class="champ_saisie" id="username_ins" placeholder="Nom d'utilisateur" required >
                        <input type="text" class="champ_saisie" id="password_ins" placeholder="Mot de passe" required >
        
                        <button form="inscription" class="btn_soumission" type="submit" id="bouton_inscription" >S'inscrire</button>
                    </form>
                </div>
		    </div>
    </div>

    <!-- Pop-up pour la partie d'inscription-->
		<div id="popup" class="popup">
			<div id="popup_inscription" class="popup_inscription">
				<span class="fermer" onclick="fermerPopup()">&times;</span>
				<p class="message"><span id="message" class="message"  ></span></p>
				<div id="popup_check_image" >
					<img  src="{{url_for('static', filename='images/image_check_verte.png')}}" >
				</div>
				<div id="popup_check_image_2" >
					<img src="{{url_for('static', filename='images/image_check_rouge.png')}}" >
				</div>
			</div>
		</div>

        <script  src="{{ url_for('static', filename='javascript/js_page_connexion.js') }}"></script>


    
</body>


</html>