body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

video {
    position: absolute;
    top: 0;
    left: 0;
    
    object-fit: cover;
    z-index: -1; /* Assurer que la vidéo est en arrière-plan */
}

@media (min-aspect-ratio: 16/9) {
    .video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video{
        width: 100vw;
        height: 100%;
    }
}

h1{
    position: relative;
    margin-left: 40px;
    color: white;
}
#transaction-form {
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid #b7d8ff;
    color: white;
    width: 380px;
    height: auto;
    margin: 6% 40px;
    padding: 20px;
    position: relative;
    font-size: larger;
    
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
}
#btn_trans{
    background-color: #0034f1;
    color: white;
}
#btn_trans:hover {
    background-color: #ffffff;
    color: #0034f1;
}
#btn_hist{
    background-color: #000000;
    color: white;
}
#btn_hist:hover {
    background-color: #ffffff;
    color: #000000;
}
.horizontal-line {
    border: 1px solid white;
    margin: 10px 0px; /* Ajustez la marge selon vos préférences */
}

