<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/css_page_historique.css') }}">
    <title>Historique des Transactions</title>
</head>
<body>

<video autoplay  loop muted plays-inline class="video">
    <source src="{{url_for('static', filename='video_background/CUP_OF_TEA_ANIMATED_BACKGROUNDS.mp4')}}"  alt="background" type="video/mp4">
</video>

<div class="container">
    <div class="header">
        <div class="left-header">
            <span>Historique des transactions : </span>
            <span id="filter">Tout</span>
        </div>
        <div class="right-header">
            <div class="message-erreur" id="erreur-utilisateur"></div>
            <input type="text" id="utilisateurInput" placeholder="Utilisateur">
        </div>
    </div>
    <div class="transactions-list">
        <table>
            <thead>
                <tr>
                    <th>Temps</th>
                    <th>Expéditeur</th>
                    <th>Récepteur</th>
                    <th>Montant en €</th>
                </tr>
            </thead>
            <tbody>
                <!-- La liste des transactions sera ajoutée dynamiquement ici -->
            </tbody>
        </table>
    </div>
</div>

<script  src="{{ url_for('static', filename='javascript/js_page_historique.js') }}"></script>
</body>
</html>
